<h3>Welcome to the super fun time awesome rewards store</h3>
<h4>Pick your fabulous prizes here:</h4>


		<% @rewards.each do |reward| %>
			<p><%= reward.title %></p>
			<div>
				<img src=<%= reward.url %>>
			</div>
		<% end %>

<% if current_user.admin %>
	<%= link_to "New Reward", new_reward_path %>
<% end %>

