<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1 class= 'center'> <%= @reward.title %> </h1>
		<div class= 'center'>
			<%= image_tag(@reward.url) %>
			
		</div>
		
	</body>
</html>